<header class="second-header">
 <div class="heading">
  <h1 class= "title-name"><%= link_to 'ひるめし', root_path, class:"head-title" %></h1>
 </div>
 <div class="navber">
  <ul class="nav-lists">
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <% if user_signed_in? %>
      <li class="menu-icon"> <%= link_to '新規投稿', new_post_path %> </li>
      <li class="menu-icon"><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
      <li class="menu-icon"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li class="menu-icon"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li class="menu-icon"><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <% end %>
     </ul>
 </div>
</header>