<div class="main">
<div class="container d-flex flex-row">
<div class="side-ber">
<h1>サイド</h1>
</div>
<div class="explan">
<%# 記事の概要 %>
<table class="detail-table">
<tr>
 <th>タイトル</th>
 <td><%= @post.title %></td>
</tr>
<tr>
 <th>投稿者</th>
 <td><%= link_to "#{@post.user.nickname}", user_path(@post.user.id)%></td>
</tr>
<tr>
 <th>ジャンル1</th>
 <td><%= @post.genre_1.name %></td>
</tr>
<tr>
 <th>ジャンル２</th>
 <td><%= @post.genre_2.name %></td>
</tr>
<tr>
 <th>説明</th>
 <td><%= @post.explanation %></td>
</tr>

<div class="col-md-auto">
<%= image_tag @post.image, class: "image"%>
</div>
</table>
<%# /記事の概要 %>
 <%# 投稿ユーザーのみ記事の編集、削除ボタンが現れる %>
  <% if user_signed_in? && current_user.id == @post.user_id %>
  <%= link_to "編集", edit_post_path(@post) %>
  <%= link_to "記事削除", post_path(@post.id), method: :delete %>
  <% else %>
  <% end %>
  <%# /投稿ユーザーのみ記事の編集、削除ボタンが現れる %>
   <%# フォローする・削除 %>
  <%# /フォローする・削除 %>
<a herf="#">
前の記事
</a>
<a herf="#">
次の記事
</a>
<div>
<%= link_to "topページ", root_path%>
</div>
<%# コメント %>
<%# /コメント %>
</div>
</div>
</div>