<%# 記事の概要 %>
<h2 class="post-title">
<%= @post.title %>
<%= link_to "#{@post.user.nickname}", user_path(@post.user.id)%>
</h2>
  <%# 投稿ユーザーのみ記事の編集、削除ボタンが現れる %>
  <% if user_signed_in? && current_user.id == @post.user_id %>
  <%= link_to "編集", edit_post_path(@post) %>
  <%= link_to "記事削除", post_path(@post.id), method: :delete %>
  <% else %>
  <% end %>
  <%# /投稿ユーザーのみ記事の編集、削除ボタンが現れる %>
  <%# フォローする・削除 %>
   
 
  <%# /フォローする・削除 %>
<%= @post.genre_1.name %>
<%= @post.genre_2.name %>
<%= image_tag @post.image %>
<%= @post.explanation %>
<%# /記事の概要 %>
<a herf="#">
前の記事
</a>
<a herf="#">
次の記事
</a>
<%= link_to "topページ", root_path%>
<%# コメント %>
<%# /コメント %>